Data

__pycache__/*.pyc

.vs/ProjectSettings.json

.vs/slnx.sqlite

.vs/Volcano/v16/.suo

.vs/VSWorkspaceState.json

ASCII_grids/ASCII_grid_eruption_2233_prob.txt

ASCII_grids/ASCII_grid_eruption_2233_prob.txt.aux.xml

ASCII_grids/ASCII_grid_eruption_2233.txt

ASCII_grids/ASCII_grid_eruption_2233.txt.aux.xml

ASCII_grids/ASCII_grid_eruption_2233prob2.txt

ASCII_grids/ASCII_grid_simulation_2233_1.txt

ASCII_grids/ASCII_grid_simulation_2233_1.txt.aux.xml

ASCII_grids/ASCII_grid_simulation_2233_6.txt

ASCII_grids/ASCII_grid_simulation_2233_6.txt.aux.xml

graph_gexf/*

sparse/*

ASCII_grids/*

nn/dataset/*

CSVMaps/linked_map.csv

*.pyc
